form.login-form .row {
  margin: 10px 0;
  &.error-message {
    max-width: 167px;
    margin: -15px 0 10px;
  }
}
form.login-form .row button {
  width: 100%;
}
form.login-form {
  trasition: all 5s;
  overflow: hidden;
}
form.login-form {

}
.google-sign-in button {
  background:url(/assets/google_signin_buttons/btn_google_signin_dark_normal_web@2x.png) no-repeat;
  background-size: 167px;
  cursor:pointer;
  width: 200px;
  height: 40px;
  border: none;
  &:active {
    background:url(/assets/google_signin_buttons/btn_google_signin_dark_pressed_web@2x.png) no-repeat;
    background-size: 167px;
  }
  &:focus, &:hover{
    background:url(/assets/google_signin_buttons/btn_google_signin_dark_focus_web@2x.png) no-repeat;
    background-size: 167px;
    outline: none;
  }
}
